@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply px-2 mx-auto mb-5 bg-transparent border-2 border-gray-300 rounded-md outline-none w-60;
  }
  .movie {
    @apply flex flex-row w-3/4 py-4 mx-auto space-y-6 transition duration-300 ease-in bg-gray-900 rounded-md cursor-pointer text-gray-50 hover:opacity-75 
  }
}
